[2018-01-03 10:14] chmouel opened #1 "Create Fabric8-Build-Team repo"
Create repo for all issues of the build team,

[2018-01-03 10:16] chmouel commented on #1
self-done https://github.com/orgs/fabric8io/projects/2

[2018-01-03 10:16] #1 closed

[2018-01-03 10:28] chmouel opened #2 "Review user permissions from jamess and Rob on github and others"
Go over on repos and others and see if we have to remove those permissions,

[2018-01-03 10:30] chmouel opened #3 "use a new user to push image to dockerhub"
By default jamesrawling is the one pushing images to the docker registry, we need to create a new independent user who can do that and remove james as admin of fabric8 docker hub.

See https://github.com/openshiftio/openshift.io/issues/1741

[2018-01-03 10:34] jaseemabid opened #4 "Jenkins monitoring : GKE / Service Hosted instances"
Monitoring the fabric8 Jenkins instance. The Jenkins master gets rebooted often, perhaps under load. Before we make any assumptions, we need to set up some kind of monitoring for this instance so that we can take an educated call on what needs to be done.

@jaseemabid @rupalib (helping out with testing and deploying the image)

Now we've no idea about the health and up time of the Jenkins instance

[2018-01-03 12:41] chmouel opened #5 "Jenkins Auth and admin scoping"
Jenkins Auth and admin scoping

Scope out what access a developer get? What happens if the developer is the owner of the PR?
Developer should be able to stop and start his build for his own PR.

The steps need to be documented in a proper manner and shared with all developers using fabric8 jenkins for their CI purposes. A set of developers (leads) need to be trained to make sure the whole process

[2018-01-03 12:44] chmouel opened #6 "Rebase the fabric8-jenkins-plugin against upstream"
Rebasing the fabric8-jenkins-plugin against its upstream and testing it and productising it.

https://github.com/fabric8io/jenkins-sync-plugin

[2018-01-03 12:51] pradeepto commented on #6
https://github.com/fabric8io/jenkins-sync-plugin/issues/10

[2018-01-03 13:05] chmouel opened #7 "Starting a pipeline is unusally slow"
As reported here https://github.com/openshiftio/openshift.io/issues/1731

[2018-01-03 13:06] chmouel opened #8 "Build team Multi-cluster support"
Issue https://github.com/openshiftio/openshift.io/issues/1686
Epic https://github.com/openshiftio/openshift.io/issues/948

[2018-01-03 13:47] pradeepto commented on #4
@jaseemabid You will have to tallk to @fche and SD team. I have shared the PCP doc by SD team privately.

[2018-01-03 13:50] pradeepto commented on #2
@chmouel I don't think we should remove their permissions. After the stuff is Open Source. Just review them and see if they are very permissive (admin etc).

[2018-01-03 14:16] chmouel commented on #2
yep only to remove the admin access! thanks for pointing,

[2018-01-03 16:09] chmouel opened #9 "Investigate moving the fabric8 build team board to planner"
Dogfooding our own tools,

[2018-01-04 00:48] chmouel opened #10 "Security update on GKE against meltdown attack"
Check that the autoupdate has been updated.

From https://support.google.com/faqs/answer/7622138?hl=en

![image](https://user-images.githubusercontent.com/98980/34546019-6acebe28-f0f1-11e7-9943-49ebddba1fd7.png)

[2018-01-04 00:55] chmouel commented on #10
While we are currently running 1.7.8-gke.0 which seems affected, we are setup with auto upgrade enabled which should do its job to upgrade us to 1.7.11-gke.1, as according to https://cloud.google.com/kubernetes-engine/release-notes it should be available during this week rollout. Let's keep this open here until it does or do a manual update

![image](https://user-images.githubusercontent.com/98980

[2018-01-04 01:03] chmouel commented on #10
As for when this will be applied, I am not so sure the documentation here state https://cloud.google.com/kubernetes-engine/docs/concepts/node-auto-upgrades :

![image](https://user-images.githubusercontent.com/98980/34546336-71ea7f92-f0f3-11e7-9647-2aceb74fc3fb.png)

[2018-01-04 12:29] chmouel opened #11 "Create secret token on GKE for fabric8-ui team"
As req by ibrahim the fabric8-planner team needs to have a secrets token on GKE to communicate with fabric8-wit.

Internal Req [here ](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1009)

[2018-01-04 12:32] chmouel commented on #10
Security update planned tomorrow (05/01/18) at 8UTC

[2018-01-04 12:33] chmouel opened #12 "GKE templates versionning and config to a private repo"
GKE templates are not versioned or backuped currently, let's make sure they are,

[2018-01-05 13:01] jaseemabid commented on #12
@chmouel +1 to this. Great if we can write some scripts to completely automate this. Ansible maybe?

[2018-01-05 13:33] chmouel commented on #12
I think a bash script would suffice in this case, (it's just need something like kubectl get all > backup.yaml;git commit -am "blah" *yaml)) but if there is need for something more complex then sure ansible should be the way!

This ticket address only backup as for recovery that may be a all different topic to discuss (as is this needed to be automated?)

[2018-01-08 08:34] chmouel opened #13 "Test blah blah"

[2018-01-08 08:36] #13 closed, assigned to nobody

[2018-01-08 08:44] sthaha opened #14 "Investigate enabling ACL per jenkins job while keeping the authentication strategy to Github"
Currently it doesn't seem like there is a way to allow a subset of developers to administrate only certain jobs. E.g. if we want to grand the permission to kill some jobs we will have to give them the admin rights.

The goal of the task is to allow developers to administrate only a subset of the jobs so that builds can be stopped/restarted.

[2018-01-08 08:52] pradeepto commented on #14
@sthaha isn't this a duplicate of https://github.com/fabric8io/fabric8-build-team/issues/5  ?

cc @rupalibehera @chmouel

[2018-01-08 08:58] rupalibehera commented on #14
@sthaha, I am already working on this one.

[2018-01-08 09:30] chmouel commented on #14
This is a different issue, compared to #5 here we want something more specific :

* We want to be able to allow set of developers admins of some jobs

There is no way currently to  allow a set of developers being admin of only certain jobs,

For example if we want to give them the ability to kill some jobs we need to give them a full access.

We want to be able to give them admin only to some jobs

[2018-01-08 11:09] pradeepto commented on #3
@chmouel Can we close this?

[2018-01-08 11:12] #3 closed

[2018-01-08 11:12] #10 closed, assigned to chmouel

[2018-01-08 11:48] jaseemabid commented on #8
Notes moved to Wiki. https://github.com/fabric8io/fabric8-build-team/wiki/Multi-Cluster

**Ignore everything below.**

## Notes from the meeting.

1. Plan for scaling OSIO into multiple openshift clusters. Now we only have
   us-starter-east, but there will be few more in the future to scale.

2. Effectively a user level shading. OSIO itself is going to run in one cluster.

3. Profile, identity an

[2018-01-08 12:57] chmouel commented on #8
@jaseemabid I think @sbose was mentioning we need to make sure at first step that our Jenkins service is not using a cluster URL directly ? I can't rem the exact details

[2018-01-08 15:19] chmouel opened #15 "Jenkins Stats - Build time stats"
Jenkins Statistics and Usage monitoring is a large topics,

There is a lot of different topic around providing resources monitoring, stats and others for Jenkins.
This card here is only first to try to provide a timing stat on build time, to store somewhere how long does it take for each build to be built. It would be great if this can be done in a (i.e: sqlite) database so we can easily provide r

[2018-01-08 15:20] chmouel commented on #15
@sthaha maybe something to look at next,

[2018-01-08 15:35] chmouel opened #16 "Create mailing list for the team"
fabric8-build

or rename the old one fabric8-cd

[2018-01-08 15:48] jaseemabid commented on #4
@chmouel  I'm moving my notes to wiki here https://github.com/fabric8io/fabric8-build-team/wiki/Jenkins-Monitoring

Its still a messy draft for anyone else to understand, but I'll keep updating it as I find more info.

[2018-01-08 15:53] chmouel commented on #4
looks good, I think you can even do those fancy GH pages if you wanted something pretty 😆

[2018-01-08 15:54] chmouel commented on #16
Created here https://post-office.corp.redhat.com/mailman/options/devtools-build (internal only)

[2018-01-08 15:54] #16 closed, assigned to chmouel

[2018-01-08 15:56] chmouel opened #17 "Jenkins master reboot and slave reconnect issue"
The Jenkins master pod reboots whenever there are multiple jobs running(more than 4), after the reboot it continues to run all the previous on going job but it disconnects to the slave and later on not able to connect it back.

Need to do a bit of research for the same, we had some discussion about the kubernetes plugin can fix this and we did upgraded the plugin, check if this is still related.

[2018-01-09 08:16] chmouel opened #18 "Interview questions for Jenkinsfile"
https://github.com/rupalibehera/quickstart/issues/1
    https://github.com/rupalibehera/quickstart/issues/2

[2018-01-09 08:17] #18 closed, assigned to rupalibehera

[2018-01-10 06:49] chmouel opened #19 "Deprecating GKE"
Investigate GKE deprecation

[2018-01-11 11:00] jaseemabid commented on #11
As of now,

1. Since the images are ephemeral, cant just login through the Jenkins UI and add a credential. It will just get removed with next release. Also immutable infra ftw. 🤘

2. Such secrets are visible to everyone, so not a good solution in a multi-tenant situation anyway.

This is a good case for adding proper credentials support to osio and moving this to tenant pipelines. Should probably

[2018-01-11 15:06] jaseemabid commented on #4
Dabbled with zabbix and some Jenkins scripts. I'm blocked on SD team to give me a working zabbix instance to which I can send data.

[2018-01-11 16:04] fche commented on #4
(Please open an issue in the internal dtsd/housekeeping gitlab repo to make formal requests upon the SD group.)

[2018-01-12 11:18] jaseemabid opened #20 "Investigate and understand what the 'container' blocks do"
Not sure what `containers(ui)` blocks in the Jenkinsfile do and which plugin provides the functionality.

@rupalibehera wasn't sure either so we need to dig into this and document it on the wiki.

[2018-01-12 11:19] jaseemabid commented on #4
@fche Sure. I talked to @aditya-konarde and I believe he is tracking it with an issue already.

[2018-01-12 12:01] jaseemabid opened #21 "Liveness/readiness probes for the slave images"
If we could check at the slave node's end if it is connected to master _reliably_ with a script (`$ am-i-connected-to-master.sh`), then we can rely on some of the k8s fundamentals to monitor the health of the instances without using any external services.

I expect this approach to work well in the future when we run this Jenkins images inside the osio environment as well.

See https://kubernetes.

[2018-01-12 13:39] rupalibehera opened #22 "Fix snapshot cleanup pipeline"
sorry closing this it got duplicated

[2018-01-12 13:40] rupalibehera opened #23 "Fix snapshot cleanup pipeline"

[2018-01-12 13:41] #22 closed, assigned to nobody

[2018-01-12 18:11] fche opened #24 "activate prometheus endpoint"
In order to provide remote monitoring to the jenkins servers running in OSIO tenants, it would be necessary to:

* include the prometheus plugin https://wiki.jenkins.io/display/JENKINS/Prometheus+Plugin in the s2i-config plugins.txt file
* arrange to activate this plugin during the startup of the built java container/process, so that the http://localhost:8080/prometheus/ URL becomes live
* arrange

[2018-01-12 18:11] fche commented on #24
See also https://github.com/fabric8io/fabric8-build-team/issues/15

[2018-01-15 01:59] sthaha commented on #14
### Status update

@rupalibehera and I have been investigating the authorisation mechanism that is currently in place and I think what we currently have should suffice the requirement.

The current authorisation allows any member of the `orgs` listed in the jenkins config who has push right (belongs to `committer` group) to the git repo to cancel a build and this seems fair to me.

Thanks to @rupa

[2018-01-15 09:50] #23 closed, assigned to nobody

[2018-01-15 12:44] jaseemabid opened #25 "Document various images"
Already in progress at https://github.com/fabric8io/fabric8-build-team/wiki/Jenkins-Images.

- [ ] What are the different images we use?
- [ ] How are they built?
- [ ] How are they deployed
- [ ] Document the versions of software running on it. For example, planner folks were asking for the node.js version and we didn't have a place to point them to.

Using this issue to track progress.

[2018-01-15 12:56] pranavgore09 commented on #14
@chmouel @sthaha

GH ids -
Pranav: pranavgore09
Deb: debloper

[2018-01-15 13:03] sthaha commented on #14
@pranavgore09 could you please point me to a jenkins job or PR to the github repo  that you may want to kill?

[2018-01-15 13:07] jaseemabid commented on #15
xref https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/133

[2018-01-15 13:36] pranavgore09 commented on #14
@sthaha following two jobs

fabric8-planner
 CI  - https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/
 repo - https://github.com/fabric8-ui/fabric8-planner/

fabric8-wit (dropping this part as of now)
~~CI - https://jenkins.cd.test.fabric8.io/job/fabric8-services/job/fabric8-wit/~~
~~repo - https://github.com/fabric8-services/fabric8-wit/~~

[2018-01-17 11:15] jaseemabid commented on #24
@fche Are we familiar with this plugin? It seems to be in a [bad shape](https://issues.jenkins-ci.org/browse/JENKINS-44513?jql=project%20%3D%20JENKINS%20AND%20status%20in%20(Open%2C%20"In%20Progress"%2C%20Reopened)%20AND%20component%20%3D%20%27prometheus-plugin%27) and there is practically zero documentation on [how to setup the endpoint](https://github.com/jenkinsci/prometheus-plugin#jenkins-prom

[2018-01-17 14:07] kbsingh commented on #4
before anyone goes away and does work on this - it would be good to see a recap of the existing monitoring efforts ( ie, the SD run Zabbix and the GKE hosted alerting pieces ).

Afaict, there is no work that needs to be done here beyond a couple of endpoints being added to existing infra.

[2018-01-17 14:40] fche commented on #4
AIUI, the work being discussed is exactly the interoperation with SD's zabbix.

[2018-01-17 14:44] chmouel commented on #4
I concur with @fche the only plan here is to plug into the existing monitoring infra,

[2018-01-17 15:13] kbsingh commented on #4
therefore, as @fche reported earlier, we need this tracked on the SD housekeeping repos privately. There is no action item there to get anything done here.

[2018-01-17 15:39] fche commented on #24
@jaseemabid thanks for checking in.  There are no other places in OSIO proper where jenkins runs, so there's nowhere else for the plugin. :-)   If we wish to extract metrics from the numerous copies of jenkins that will be running, we need jenkins to make those stats available (and not just to zabbix).

The question about the plugin's quality, I can't answer.  I got it working on a toy jenkins con

[2018-01-18 02:01] fche commented on #24
The [metrics plugin](https://wiki.jenkins.io/display/JENKINS/Metrics+Plugin ) on which the prometheus plugin depends may also be good enough.  Its "machine access" machinery seems to make it easier for a machine scraper to get api keys and use them with fixed URLs than the prometheus one does.

OTOH it outputs JSON, which is manageable but not as trivial to use as prometheus.  And it too is not au

[2018-01-18 09:46] jaseemabid commented on #24
@fche First of all, I'm not sure why you asked me to go with Prometheus unlike the rest of the tools, for example, fabric8-wit use PCP.

As far as I understand, since our Zabbix is inside a VPN and current infra is outside of it, a simple HTTP endpoint _maybe_ makes it easier to get the data.

I'm also assuming that Zabbix will be able to consume this output without significant work. @adita-konard

[2018-01-18 10:10] kbsingh commented on #24
we dont need either prometheus or pcp here guys, we just need a few baseic zabbix endpoints and Aditya or one of the SD guys will script it up for you. Lets start with just 2 metrics, in zabbix.

[2018-01-18 10:57] fche commented on #24
This request is oriented toward the OSIO ***tenant side*** jenkins.  Other fabric8 components run in OSD, are not replicated by the hundreds or thousands, and do not have much in the way of built-in metrics, so different solutions apply to them.  Does this make it clear, and why I didn't refer to Zabbix?

[2018-01-18 11:02] jaseemabid commented on #24
@kbsingh I don't completely understand what you propose. I was hoping to broadly classify the metrics we need into 2 components.

__1. Node level metrics like CPU/Memory/IO etc.__

The default Prometheus endpoint seems to be exporting a lot of these, a lot more than we currently need. What are the downsides of using something like this? Why would we want to do this ourselves? I'll be happy with ei

[2018-01-18 11:09] kbsingh commented on #24
delted my comment, @fche thanks for the context note, my comment was service oriented not tenant side.

For the tenant side Jenkins, we need to rethink what and how we run Jenkins itself, we shold scope that metrics piece into the same context.

[2018-01-18 11:14] jaseemabid opened #26 "Build fails in the git plugin"
I'm hoping to collect all the failures and file bugs so that we don't miss any of them. I believe rather than restarting the jobs, we need to take a deeper look at things when a build fails because of our code. Please use the label 'Build Error' to group these together.

Job: https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-ui/job/PR-2283/26/console
Stack trace:
[code]

[2018-01-18 11:49] kbsingh commented on #4
@arrfab @bstinsonmhk have done some work here to monitoring ci.centos.org's hosted Jenkins with Zabbix and might have some input here as well.

[2018-01-18 13:53] sthaha commented on #14
### Status Update

@chmouel
After a bit more digging into the [github-auth docs](https://wiki.jenkins.io/display/JENKINS/Github+OAuth+Plugin#GitHubOAuthPlugin-AuthorizationinGlobalSecurity.), my proposal is to continue to use the `github-auth` but switch to matrix based authorisation which allows ACL to be set for an org, team in an org or a user.

In our case we can create a team in `fabric8io` s

[2018-01-18 13:59] chmouel commented on #14
nice solution, i would better use another name tho like `fabric8-operators` since we may want to use it for something else in the future,

Next step would be to describe this on the ML i.e: we are going to have a team of people who are going to be allowed to kill any jobs and we would need to have the name of 2 ppl on each fabric8 team where we would add it in there.

thanks,

[2018-01-18 14:02] rupalibehera commented on #14
@sthaha , Nice solution if this works than it would be really great. Thanks for the investigation :) :+1:

[2018-01-18 16:17] fche commented on #24
@jaseemabid

Having an excess of metrics available is not a problem.  We can easily tune the consumer side to ignore uninteresting ones, should storage become a problem.

It would be ideal if these quantities were _also_ represented as ordinary metrics exported together with the other ones.  Chances are the Jenkins metrics-plugin machinery allows you to write little plugins that emulate the behavi

[2018-01-19 01:52] sthaha commented on #14
@chmouel since the org is already fabric8io we don't want to repeat `fabric8-` in the team as well. How about `ci-ops`? so that it would read in jenkins config as `fabric8io*ci-ops`. Similarly there would be `ci-admins` akin to jenkins administrators the members of which will be our current list of admins.

[2018-01-19 05:44] chmouel commented on #14
Sounds good to me!

On Fri, Jan 19, 2018, 02:52 sthaha <notifications@github.com> wrote:

[2018-01-19 08:06] jaseemabid commented on #24
@fche I'll see if I can extend the metrics-plugin to allow some of our own custom values. I'm neither familiar with that API or the internals of Jenkins, so this is going to take even more time to dig into :(

[2018-01-19 09:35] jaseemabid commented on #20
https://github.com/jenkinsci/kubernetes-plugin#pipeline-support

[2018-01-19 10:26] jaseemabid commented on #4
@arrfab @bstinsonmhk Hey could you please point me to any resources/docs that might be available? TIA.

[2018-01-19 12:28] pranavgore09 commented on #20
thanks, @jaseemabid, because of that I could figure out configuration for `UI` container that planner Jenkins file is using extensively is coming from -
[this](https://github.com/fabric8-ui/fabric8-planner/blob/master/Jenkinsfile#L14) line invokes the call in pipeline codebase
That invocation sets up configuration for UI container [here](https://github.com/fabric8io/fabric8-pipeline-library/blob/m

[2018-01-19 13:42] jaseemabid commented on #20
@pranavgore09 Your observation looks right. Yes, this is more convoluted than it should be. And we need docs.

[2018-01-19 14:57] bstinsonmhk commented on #4
The Monitoring plugin (https://wiki.jenkins.io/display/JENKINS/Monitoring) just added support for prometheus.

These are also handy: https://wiki.jenkins.io/display/JENKINS/Monitoring+Scripts

In ci.centos.org (Zabbix) we are monitoring our Jenkins master as part of our general "Linux" hostgroup which is a good baseline for OS metrics.

[2018-01-19 15:38] fche commented on #4
Thanks for the referral, @bstinsonmhk.  In a local test, the prometheus data available from this Monitoring plugin is a small fraction of that available from the Metrics plugin (in JSON form) or the Prometheus plugin (in prometheus form).  It seems to include practically nothing about the high level application.

[jenkins-monitoring-javamelody.txt](https://github.com/fabric8io/fabric8-build-team/f

[2018-01-19 15:42] fche commented on #24
I'm definitely not an expert, but it may not take too much code to send more metrics out; e.g.:

https://github.com/jenkinsci/metrics-diskusage-plugin/blob/master/src/main/java/jenkins/metrics/impl/diskusage/DiskUsageMetricProviderImpl.java

[2018-01-22 08:28] chmouel commented on #2
@rupalibehera has removed the jamess access to jenkins,

[2018-01-23 10:34] jaseemabid opened #27 "Investigate Fabric8_CI vs fabric8 Jenkins folders on test.cd.fabric8.io"
Fabric8_CI seems to be for  `vertx-maven-plugin|fabric8-platform|gofabric8|pipeline-test-project|kubernetes-model|almighty-core|exposecontroller` and fabric8io for `^(?!^fabric8-planner$|^fabric8-online-docs$|^keycloak-deployment$|^fabric8-ui$|^fabric8-team-components$|^openshift-jenkins-s2i-config$|^fabric8-online$|^fabric8-init-tenant$).*`.

Investigate and understand why we need 2 and why its c

[2018-01-23 12:17] chmouel commented on #14
+Let's document this

[2018-01-23 12:19] jaseemabid commented on #14
@corinnekrych Can you comment your issue here?

[2018-01-23 12:29] corinnekrych commented on #14
@jaseemabid although I've logged in using my gh account, I can't trigger a build on PR branches (I used to be able to). see:
https://www.dropbox.com/s/3tgpiwkkc7px49p/Screenshot%202018-01-23%2013.27.37.png?dl=0
What should we do to gain ACL for triggering new build?

[2018-01-23 12:44] jaseemabid opened #28 "Review the plugins and dependencies"
I'm sure we don't need all 138 of them.

[2018-01-23 12:55] jaseemabid commented on #12
@chmouel Shall we start this for next sprint?

I mention this specifically because this task will kind of make out service transparent; we should document the service that actually runs on service.

For example, I had a hard time today trying to find the diff b/w 2 services.

[2018-01-23 13:18] jaseemabid opened #29 "Write a test Jenkinsfile"
A rudimentary test Jenkinsfile file

- [ ] This needs to be simple and well documented
- [ ] Covers a good share of features
- [ ] Small enough to finish in the next sprint

[2018-01-23 14:39] jaseemabid opened #30 "Build output is very often missing"
I've seen this all the time with other builds but now this happened with gofabric8. This is a good isolated test case for us to debug because it's just our code and the command is just a `make`.

 There is some output for the `make` in the second build, but the first one produced nothing at all.

https://jenkins.cd.test.fabric8.io/job/fabric8_CI/job/gofabric8/job/PR-642/2/console
https://jenkins.c

[2018-01-24 06:17] jaseemabid commented on #17
@rupalibehera Please update the FAQ if you make any progress. https://github.com/fabric8io/fabric8-build-team/wiki/FAQ#i-get-the-error-jenkins-doesnt-have-label-whatever

[2018-01-24 08:40] jaseemabid opened #31 "Document GKE infra deployment/update setup"
@rupalibehera you are probably the only one who can actually do this, so I'm assigning this to you.

Is this something that can be finished in the Heather train?

[2018-01-24 12:14] sthaha commented on #14
### Status update

The change has been implemented and is documented [here](https://github.com/fabric8io/fabric8-build-team/wiki/Jenkins-github-auth)

[2018-01-29 09:52] jaseemabid commented on #14
@sthaha I am unable to update the configuration of jobs from the UI now. I don't see a  save option anywhere.

[2018-01-29 12:01] rupalibehera commented on #17
I have observed after the reboot of the master the slaves for the ongoing jobs go to error state and maybe hence they are not able to connect back.

[2018-01-30 11:18] sthaha opened #32 "Investigate a way to speed up and improve stability of npm install"
Currently builds break intermittently during `npm install`. Lets investigate if there is a smarter way to do this. Perhaps we can cache the packages that are being installed.

[2018-01-30 12:59] sthaha commented on #32
Duplicate of [openshiftio issue 1933](https://github.com/openshiftio/openshift.io/issues/1933) ; hence closing

[2018-01-30 12:59] #32 closed, assigned to nobody

[2018-01-31 10:10] rupalibehera commented on #17
Observing issues like this on some of the PR pipeline too
`node:7655) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead.
Cannot contact jenkins-slave-h2b0q-1flqs: java.io.IOException: remote file operation failed: /home/jenkins/workspace/-ui_fabric8-planner_PR-2422-V4PPEPQFWZ6M2BXM6CBOKUC7GNQLRGXXTXIATGFVE7OO7POXAQ3Q@2 at

[2018-01-31 10:13] rupalibehera commented on #17
Added a logger to check the logs of kubernetes plugin while it spins up the slave pods https://jenkins.cd.test.fabric8.io/log/investigate%20slave%20reconnect%20failures/ I could find such logs `Total container cap of 5 reached, not provisioning: 10 running or errored in namespace cd` and when logged in to GKE found that the slaves were in error state

[2018-02-01 16:25] fche commented on #24
@jaseemabid, would it help for us to try prototyping this?  There would be a sidecar container or two added to the jenkins pod/DC, an additional route, and prep for a localhost prometheus export.

[2018-02-01 17:32] jaseemabid opened #33 "Investigate @Library import of fabric8-pipeline-library"
1. Every other plugin is baked into the instance, this should be too.
2. Adds a constant overhead to every build by pulling this library from github
3. ^ is also responsible for a lot more log noise
4. Importing master makes it hard for us to make breaking changes/releases
5. If users change the version from master to something else, we will have different versions in production at the same time.

[2018-02-01 19:15] kbsingh commented on #24
If we can do this rapidly, I would love to see it in prod preview for all tenants. If there is anything we can help with please reach out.

[2018-02-01 19:15] kbsingh commented on #24
Apologies for fat fingers

[2018-02-02 04:03] jaseemabid commented on #24
@fche Sorry for disappearing on this one. I just got pulled into several other issues over the last week.

AFAIU, [redhat-developer/osd-monitor-poc](https://github.com/redhat-developer/osd-monitor-poc) contains definitions of a bunch of Docker images which gets pushed to registry.devshift.net/perf and you are going to run the [oso-webapi-guard](https://github.com/redhat-developer/osd-monitor-poc/t

[2018-02-05 12:41] kbsingh commented on #19
Has this work been scoped up as yet ?

[2018-02-05 15:46] aslakknutsen commented on #24
@jaseemabid Let me know when there is a tenant-jenkins PR to review I'll help.

[2018-02-05 19:17] pradeepto commented on #19
This relates to https://github.com/openshiftio/openshift.io/issues/1902

[2018-02-06 07:14] jaseemabid commented on #24
@aslakknutsen https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/57

[2018-02-06 17:01] fche commented on #24
The URL is hard-coded as a function of the tenant name to refer to the OSD collector.  It does not need to be authenticated, because the content is not that "secret" (well-hashed passwords).  Since tenants have terminal access to these .netrc-like files anyway, a widely shared fixed secret would not be secret.

[2018-02-08 18:17] pradeepto commented on #19
This relates to https://github.com/openshiftio/openshift.io/issues/1902

[2018-02-09 10:11] pranavgore09 opened #34 "Build fails with SocketTimeoutException & ConnectException"
I observed these two failures in mentioned builds

Error SocketTimeoutException found [here](https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2426/65/console)
[code]

Error ConnectException found [here](https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2426/66/console)
[code]

[2018-02-09 11:09] jaseemabid opened #35 "Fails with error 'Cannot contact jenkins-slave-38xc0-81nf9'"
Build for openshift-jenkins-s2i-config fails on master.

https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8io-auto-rel%2Fopenshift-jenkins-s2i-config/detail/PR-141/1/pipeline

[code]

[2018-02-10 08:45] jaseemabid commented on #4
Updates.

1. I managed to learn enough Zabbix to understand what is required and setup a [docker-compose.yml](https://gist.github.com/jaseemabid/765ee041f0fb8def0a6f4f2001410b03) to run this locally. There are docs in the gist to get started.

2. Worked with Aditya to add a host/item/trapper on the prod zabbix instance. The host based authorization instead of a username/password kind of makes test

[2018-02-13 10:45] pranavgore09 opened #36 "Fails with `JavaScript heap out of memory`"
[code]

https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2426/78/console
https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2426/79/console
https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2426/80/console

[2018-02-13 19:36] fche commented on #24
Being blocked otherwise, I'll experiment a little more with the Metrics plugin.

[2018-02-14 15:32] chmouel opened #37 "Handover of jenkins-idler and jenkins-proxy to the build team"
* Start getting to know how it works
* Get to know the code
* Own the code

[2018-02-15 12:11] maxandersen opened #38 "`npm install` fails with Z_BUF_ERROR"
https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-ui/view/change-requests/job/PR-2291/ failed with

[code]

looks like issue in node where suggested fix is to move to 8.9.

see https://github.com/npm/npm/issues/11993

[2018-02-16 08:50] jaseemabid commented on #38
@maxandersen Do you think every tenant using the same version of the image makes sense? If this happens to our customers and if they are on a platform like travis, they can update the dependency on their own and fix the problem without waiting for us to update the version and fix the issue (and possibly break builds for other people).

I'll get a PR for this in the meanwhile.

[2018-02-16 09:00] jaseemabid commented on #38
@maxandersen https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/13

[2018-02-16 11:05] jaseemabid commented on #25
@rupalibehera bump!

[2018-02-16 14:18] jarifibrahim opened #39 "Build fails with DNS(?)/Network issues."
[code]

https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8-ui%2Ffabric8-planner/detail/PR-2441/1/pipeline

[2018-02-17 05:02] jaseemabid commented on #39
Copying the stack trace here so that we won't lose it.

[code]

[2018-02-17 05:08] jaseemabid commented on #39
Looks like it failed at `fabric8-pipeline-library/vars/buildSnapshotFabric8UI.groovy:22` and that's `sh "git clone https://github.com/${downstreamfabric8UIOrg}/fabric8-ui"`. The Java trace points to
[code]
and

[code]
Looks like we had DNS issues for a while? This needs a deeper investigation. Did a rebuild work?

[2018-02-21 12:24] jaseemabid commented on #19
### New jenkins server instead of migrating

Is it a good idea to _NOT_ migrate the current test.cd.fabric8.io to SD infra but start a new Jenkins server?
I have a feeling that the effort might be more than what can be justified.

1. Most of the jobs are useless crap.
2. We need to only move what we need, and that might not be more than 10 or 20
3. We *MUST* script it from Ansible or something fro

[2018-02-22 10:55] jarifibrahim opened #40 "Fails with java.io.NotSerializableException"
Build console log - https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2472/14/console

[2018-02-22 12:10] jarifibrahim commented on #40
Closing this since the issue was because of malformed braces in my code.

[2018-02-22 12:10] #40 closed, assigned to nobody

[2018-02-22 12:31] rupalibehera commented on #11
@chmouel @jarifibrahim , closing this and the token was tested in this PR https://github.com/fabric8-ui/fabric8-planner/pull/2472
and I have merged changes required to pipeline librabry https://github.com/fabric8io/fabric8-pipeline-library/pull/382

[2018-02-22 12:31] #11 closed, assigned to chmouel

[2018-02-22 12:35] jaseemabid commented on #40
@jarifibrahim Can you please link to the patch? Its still such a bad error message from the Jenkins end. This is worthy of a FAQ because its going to be painful to debug for end users.

[2018-02-22 12:39] jarifibrahim commented on #40
@jaseemabid I'm not sure if this counts as a patch, but here's the commit that fixed the error https://github.com/fabric8-ui/fabric8-planner/pull/2472/commits/f3b5bbbbd0627b5ce2e53db9b36a7e9c7ca1d4e5

We should parse the `release.groovy` and `Jenkinsfile` for syntax errors before we actually execute it.

[2018-02-22 12:58] jaseemabid commented on #40
@jarifibrahim Wish the groovy interpreter used by the CPS plugin just threw a syntax error instead of this. Damn.

[2018-02-22 14:20] chmouel commented on #19
The plan wasn't to do a full migration of all the jobs and thing we won't need.

If we have to move somewhere else we would do some cleanup including scripting Idempotente deployment methods and such, including the backups and whatnot.

This is not the part that get me worried to scope out, the part that get me worried for this sprint to figure out is the unknown external system that relies on the

[2018-02-22 20:17] fche commented on #24
@kbsingh did I hear correctly earlier that this is done now?

[2018-02-26 06:17] pradeepto commented on #28
We need to close this as duplicate since there are 2 issues already on osio GH issues.

[2018-02-26 06:17] #28 closed, assigned to nobody

[2018-02-28 12:37] maxandersen commented on #38
on travis users don't control the base image that runs what corresponds to their "jenkins".

for te build pods users shuold have control what it runs on.

[2018-03-01 10:26] jaseemabid opened #41 "Tenant Jenkins boots up with way too many errors in logs"
This needs a deeper investigation.

[2018-03-01 10:26] jaseemabid commented on #41
@rupalibehera See this.

[code]

[2018-03-01 10:39] rupalibehera commented on #41
@jaseemabid , we can ignore the warnings you can see these warnings in our Jenkins https://jenkins.cd.test.fabric8.io/ logs too, not sure why they are for, we need further investigation for that, but should not mostly cause any issue

@jaseemabid , we can ignore the warnings you can see these warnings in our Jenkins https://jenkins.cd.test.fabric8.io/ logs too, not sure why they are for, we need f

[2018-03-01 10:40] rupalibehera commented on #41
I am not sure why is rbehera in your tenant logs, I am surprised here

[2018-03-01 11:07] jaseemabid commented on #41
@rupalibehera There are a whole bunch of Java stack traces there as well. I can't believe that its all ok.

[2018-03-02 13:02] jaseemabid opened #42 "Investigate the kubernetes-pipeline-plugin fork"
There are weird things going with the code like using expose controller on production.

Ref: https://github.com/openshiftio/openshift.io/issues/2403#issuecomment-369893167

[2018-03-05 09:22] chmouel opened #43 "Move from Centos Images to RHEL"
As for GA it was decided we will be moving from the Centos based images to RHEL.

This story is to investigate and transition our docker images to RHEL.

[2018-03-05 11:22] chmouel commented on #41
There is a user rbehera on jenkins, that was something i wanted to report last week, maybe that's related :
![image](https://user-images.githubusercontent.com/98980/36972344-0dd9c2f0-206f-11e8-99ec-af3b3e680289.png)

[2018-03-05 13:24] jaseemabid commented on #41
@chmouel I leaked my osio keys by pasting entire logs here :)

[2018-03-05 14:40] chmouel commented on #41
Yeah I thought that issue was fixed some time ago, was that your osio token ?

[2018-03-05 18:37] jaseemabid commented on #17
@rupalibehera I just noticed the same issue again on the newly provisioned 2a cluster and it looks worse than usual. Subsequent builds are going into the same state. Did you come across any useful workarounds, hints or solutions when you were looking into this?

AFAIK, its getting stuck in this [loop](https://github.com/jenkinsci/kubernetes-plugin/blob/master/src/main/java/org/csanchez/jenkins/plu

[2018-03-06 05:44] jaseemabid commented on #41
@chmouel Someone else leaked their token before me and started the conversation. I noticed several other exceptions as mentioned in the title and posted my entire logs here, leaking mine as well.

[2018-03-06 08:02] chmouel commented on #41
ah i see you are taking care of it here, https://github.com/openshift/jenkins-openshift-login-plugin/pull/32 cool!

[2018-03-06 12:15] chmouel commented on #6
40% working on this for sprint-146

[2018-03-07 00:16] sthaha opened #44 "Remove the openshift-login-plugin fork by submitting a PR upstream"
Gabe has agreed that if we submit an PR that enables the required behaviour (view -> edit mapping) it will be accepted. So lets
- [ ] submit a PR upstream
- [ ] get that released
- [ ] Replace the openshift-login-plugin.hpi with the upstream one (plugins.txt)
- [ ] Release
- [ ] Delete the fork

[2018-03-07 05:23] jaseemabid opened #45 "Revisit the automated testing setup for Build"
### 1. Godog tests for the maven image
I wanted to take a look at the jenkins-godog tests to see if will be of any use to improve the state of testing and it looks like it wont be.

There are only 2 _relevant_ [feature files](https://github.com/fabric8-jenkins/godog-jenkins/tree/master/jenkins/features) and and [one of them](https://github.com/fabric8-jenkins/godog-jenkins/blob/master/jenkins/feat

[2018-03-07 10:13] chmouel commented on #45
Can you describe a bit more into the issue what do you want to achieve, please.

[2018-03-07 10:29] chmouel commented on #41
@rupalibehera we need to have this sorted for this sprint, why there is your user on our image, the osio logs things is a side track

[2018-03-07 10:37] chmouel commented on #41
Let's work on this directly on https://github.com/openshiftio/openshift.io/issues/2490

[2018-03-07 10:56] chmouel commented on #44
Thanks for filling this up, Would be nice if that checklist gets linked to individual 'upstream' issues,

[2018-03-07 13:11] sthaha opened #46 "Jenkins is configured to start builds only after a minute"
I see that jenkins is configured to wait for a minute before it starts a build? See [quiet period][quiet]. There is a good reason to do this but do we want to preserve this behaviour or should the builds start as soon as it is requested?

[quiet]: https://jenkins.io/blog/2010/08/11/quiet-period-feature/

[2018-03-07 13:13] chmouel commented on #46
👍 I think it may be good to have it on the openshift.io backlog and listed on https://github.com/openshiftio/openshift.io/issues/2314

[2018-03-07 13:28] sthaha commented on #46
Closing this in favour of  https://github.com/openshiftio/openshift.io/issues/2495

[2018-03-07 13:28] #46 closed, assigned to nobody

[2018-03-09 02:31] sthaha commented on #44
@chmouel noted. I will break it down when we prioritise this and start working on this. like User story -> sprint-items may be during sprint planning. Creating tasks for this which we wouldn't work right away in the sprint would only clutter the backlog since instead of 1 card we will have to move 5 or 6 cards around.

[2018-03-10 10:35] jaseemabid commented on #41
@chmouel This is not the same as the extra user rbehera. While the tenant boots up, there is just a lot of Java exceptions and some might be worth taking a look at and fixing.

I had the log file here with examples, but immediately took it down after I leaked the osio token. I'll do it again without private info.

[2018-03-11 23:49] sthaha commented on #29
@jaseemabid could you please shed some light into what we are trying to achieve with this Jenkinsfile?

[2018-03-12 05:58] jaseemabid commented on #29
@sthaha The current test setup (godog-jenkins) is too messy and unreliable, so I was hoping to write a simple straight forward Jenkinsfile which runs and deploys a quick start app for quick end to end testing.

- [ ] Make it configurable such that we can run it with specific versions of fpl and fmp.
- [ ] Curl the final deployed application and make sure its up
- [ ] Test re-release of the app wit

[2018-03-12 07:28] jaseemabid opened #47 "Document how a user can update and test the tenant Jenkins images"
I've probably explained this a few times on the channel already, time for a wiki.

[2018-03-12 08:12] chmouel commented on #47
just a warning, testing the tenant jenkins image on loophole is a bit of a loophole, which is going to be closed sometime soon (i.e: this week) this is the work that @sthaha has been working on,

[2018-03-12 08:56] jaseemabid commented on #47
@chmouel Thanks for the heads up. Now we need a way to test tenant image changes reliably and document it somewhere.

[2018-03-12 08:59] chmouel commented on #47
yep and that's probably not going to be trivial, (not sure how I can make a sad and disappointed  face reaction on your github comment so describing it in words here). We probably want to make a new issue on our backlog to work on this,

[2018-03-12 09:49] jaseemabid commented on #17
I've been repeatedly building maven-builder on test.cd.fabric8.io for a PR and about 10-12 of the builds went green before it got stuck again with `All nodes of label ‘clientsmaven_builder_12’ are offline`. We've seen this on every environment so far and is probably worth a SEV1 now.

https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8io-images%2Fmaven-builder/detail/PR-37/12/pip

[2018-03-13 11:36] jaseemabid commented on #17
@rupalibehera Do you think https://github.com/jenkinsci/kubernetes-plugin/pull/256 could be the root cause? The description seems to suggest it. We are currently using version 1.1, and this fix went into 1.3.2. Do you think we could update this plugin and give this a try?

[2018-03-15 07:27] jaseemabid commented on #30
https://jenkins.cd.test.fabric8.io/job/fabric8io/job/fabric8-maven-plugin/job/master/22/consoleFull

This build of fmp master is potentially losing output because the log line does not indicate any error but the command indeed failed. This might be worse than initially thought.

[2018-03-15 07:32] jaseemabid commented on #45
I've added basic tests for maven-bulilder here https://github.com/fabric8io-images/maven-builder/pull/37, which can be merged now.

Ideally I'd like to expand that to release, deploy and verify that the app is running but that's probably a lot of effort now.

[2018-03-15 07:32] jaseemabid commented on #29
Ref https://github.com/fabric8io/fabric8-build-team/issues/45#issuecomment-373286296

[2018-03-15 08:31] jaseemabid commented on #17
Note to self, this might be relevant as well.

[code]

[2018-03-15 10:04] chmouel commented on #30
We should generally report bugs on openshift.io org if you deem to think it's important to notify it, cc @pradeepto

[2018-03-23 13:12] rupalibehera opened #48 "Fabric8-ui planner master builds are failing"
This issue is observed on the GKE Jenkins
https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/master/201/console
scroll the build to the end, you will see the below logs:
[code]
 we have not changed anything recently on GKE jenkins

[2018-03-23 13:14] rupalibehera commented on #48
cc: @pranavgore09  @nimishamukherjee

[2018-03-26 04:38] rupalibehera commented on #48
On GKE there was a CVE patch by SD team around March 16/19 for this 'https://nvd.nist.gov/vuln/detail/CVE-2017-1002101#VulnChangeHistoryDiv' one I suspect this can be the issue.
@chmouel

[2018-03-27 06:00] jarifibrahim opened #49 "Variable loses value when switching from one node to another"
I'm trying to access the `route` variable inside the `container(ui)` block. It turns out the value is not propagated to the `ui` container from `deployOpenshiftNode`. The `route` variable is empty inside the `ui` container. https://github.com/jarifibrahim/fabric8-planner/blob/6e0c28d0878dc22527ae09ceb858e929d690d74a/Jenkinsfile#L69-L91

The route variable gets it value on https://github.com/jarifi

[2018-03-27 06:03] jarifibrahim commented on #49
@sthaha @jaseemabid Any clue why this is not working? or how should I do this?

[2018-03-27 08:18] jaseemabid commented on #49
No idea :/

[2018-04-03 05:25] sthaha opened #50 "Restart Jenkins cluster since the docker builds are failing when building jenkins master image"
Restart Jenkins cluster since the docker builds are failing when building jenkins master image

[2018-04-03 06:27] jaseemabid opened #51 "Drop support for k8s client older than 0.13 from pipeline library"
This will effectively reduce the size of the library by almost half. So far I've never seen a client this old used anywhere in our setup.

I've a partial PR in place already. https://github.com/fabric8io/fabric8-pipeline-library/pull/383

[2018-04-03 08:36] jaseemabid commented on #51
This issue was moved to openshiftio/openshift.io#2854

[2018-04-03 08:36] #51 closed, assigned to jaseemabid

[2018-04-15 08:23] krishnapaparaju commented on #50
@sthaha which Jenkins cluster ?

[2018-04-16 05:19] sthaha commented on #50
@krishnapaparaju the jenkins.cd cluster.

[2018-04-16 05:20] rupalibehera opened #52 "Restart Jenkins cluster since blocking release of kubernetes model"
Jenkins : https://jenkins.cd.test.fabric8.io/
Cluster : GKE - cluster2

[2018-04-16 06:21] #52 closed, assigned to rupalibehera

[2018-04-16 09:31] baijum commented on #26
Probably same thing: https://jenkins.cd.test.fabric8.io/job/fabric8-services/job/fabric8-wit/view/change-requests/job/PR-2011/4/console

[2018-04-18 16:06] jiekang opened #53 "Fabric8-ui builds failing with unknown oc command"
E.g.

https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8-ui%2Ffabric8-ui/detail/PR-2759/3/pipeline

fails at running `oc get --all namespaces` shell script with unknown flag --all.

Maybe intention is `oc get --all-namespaces`?

[2018-04-19 04:44] jaseemabid commented on #53
Ref https://github.com/fabric8-ui/fabric8-ui/pull/2759

[2018-04-19 04:52] jaseemabid commented on #53
@jiekang Sorry for this, looks like I broke the build. You are running the pipeline from a testing brach called 'ssh' and I've pushed a fix which _might_ be sufficient. I'm rerunning the build now.

[2018-04-19 04:55] jaseemabid commented on #53
Tracking https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-ui/job/PR-2759/5/

[2018-04-19 14:51] jiekang commented on #53
Looks to be fixed. Closing.

[2018-04-19 14:51] #53 closed, assigned to nobody

[2018-04-26 10:02] rupalibehera opened #54 "Restart Jenkins GKE cluster for docker socket issues"
https://jenkins.cd.test.fabric8.io/job/fabric8-jenkins/job/jenkins-openshift-base/job/PR-25/1/console
Jenkins : https://jenkins.cd.test.fabric8.io/
Cluster : GKE - cluster2

[2018-04-26 10:05] #54 closed, assigned to rupalibehera

[2018-04-26 10:21] jaseemabid commented on #54
Thanks

[2018-04-27 13:32] jaseemabid opened #55 "Groovy's error traceback for undefined variables is useless"
[code]

Next time some PHB asks why I hate Jenkins, I'm going to point to this bug.

[2018-04-28 20:41] #37 closed, assigned to chmouel

[2018-04-28 20:41] #2 closed

[2018-05-02 07:52] jarifibrahim commented on #49
I'm closing this issue since we no longer need this.

[2018-05-02 07:52] #49 closed, assigned to nobody

[2018-05-02 07:53] jarifibrahim commented on #39
@jaseemabid Should we close this issue since planner team is using ci.centos.org?

[2018-05-02 08:01] jaseemabid commented on #39
@jarifibrahim Ideally no. This could happen to anyone, not just planner.

[2018-07-05 08:12] rupalibehera commented on #19
https://docs.google.com/spreadsheets/d/1XhRid--LBTtkaOLeZL9B6VULfpraWlgNopGbPl6-3kg/ in progress documenting

[2018-07-24 06:45] sthaha commented on #19
Closing this since the epic has been moved to Planner

[2018-07-24 06:45] #19 closed, assigned to rupalibehera

[2018-10-04 11:24] arilivigni opened #56 "Maven-build needs to be converted to using the upstream Maven image"
We want to stay in sync with the upstream image of maven.  We need to convert to using the upstream images and patch any issues upstream if possible or make a subsequent image in the meantime downstream based on the upstream maven image.

[2018-10-04 11:25] #56 closed, assigned to nobody

[2018-10-25 08:33] #8 closed

[2018-12-21 05:28] pradeepto opened #57 "Nikhil Thomas Ramp Up : OpenShift"

[2018-12-21 05:35] piyush-garg commented on #50
Close this as we shut down GKE

[2018-12-21 05:35] #50 closed, assigned to sthaha

[2018-12-21 05:35] piyush-garg commented on #48
Planner has moved to CICO. Closing this

[2018-12-21 05:35] #48 closed, assigned to nobody

[2018-12-21 05:37] piyush-garg commented on #47
We have removed the edit rights from the user. Closing this.

[2018-12-21 05:37] #47 closed, assigned to jaseemabid

[2018-12-21 05:38] pradeepto commented on #31
Closing as obsolete.

[2018-12-21 05:38] #31 closed, assigned to rupalibehera

[2018-12-21 05:38] piyush-garg commented on #45
We are not using this image anymore, we have moved to upstream. Closing this.

[2018-12-21 05:38] #45 closed, assigned to jaseemabid

[2018-12-21 05:40] piyush-garg commented on #44
Closing this as moving to upstream is already on priority. Upstream has already provided the feature.

[2018-12-21 05:40] #44 closed, assigned to nobody

[2018-12-21 05:41] piyush-garg commented on #31
We have shut down GKE

[2018-12-21 05:41] pradeepto commented on #25
Closing as obsolete.

[2018-12-21 05:41] #25 closed, assigned to rupalibehera

[2018-12-21 05:42] piyush-garg commented on #42
we have removed the fork. Closing this.

[2018-12-21 05:42] #42 closed, assigned to nobody

[2018-12-21 05:42] pradeepto commented on #20
Closing as obsolete.

[2018-12-21 05:42] #20 closed, assigned to jaseemabid

[2018-12-21 05:43] piyush-garg commented on #41
This has been fixed, CLosing this,

[2018-12-21 05:43] #41 closed, assigned to jaseemabid, rupalibehera

[2018-12-21 05:43] pradeepto commented on #12
Closing as obsolete. Yay!

[2018-12-21 05:43] #12 closed, assigned to nobody

[2018-12-21 05:44] pradeepto commented on #4
Closing as obsolete. Yay!

[2018-12-21 05:44] #4 closed

[2018-12-21 05:44] piyush-garg commented on #29
We are covering this in the new pipeline. Closing this.

[2018-12-21 05:44] #29 closed, assigned to nobody

[2018-12-21 05:45] piyush-garg commented on #39
we have shut down GKE. Closing this

[2018-12-21 05:45] #39 closed, assigned to nobody

[2018-12-21 05:46] piyush-garg commented on #38
we have shut down GKE. closing this.

[2018-12-21 05:46] #38 closed, assigned to nobody

[2018-12-21 05:47] piyush-garg commented on #36
We have shut down GKE. closing this.

[2018-12-21 05:47] #36 closed, assigned to nobody

[2018-12-21 05:47] piyush-garg commented on #35
we have moved this to CICO. closing this

[2018-12-21 05:47] #35 closed, assigned to nobody

[2018-12-21 05:48] pradeepto commented on #7
Closing as obsolete.

[2018-12-21 05:48] #7 closed

[2018-12-21 05:48] piyush-garg commented on #34
we have shut down GKE. closing this.

[2018-12-21 05:48] #34 closed, assigned to nobody

[2018-12-21 05:48] pradeepto commented on #5
Closing as obsolete.

[2018-12-21 05:48] #5 closed

[2018-12-21 05:49] pradeepto commented on #14
Closing as obsolete.

[2018-12-21 05:49] #14 closed, assigned to sthaha

[2018-12-21 05:50] pradeepto commented on #9
Closing as obsolete.

[2018-12-21 05:51] piyush-garg commented on #30
we are not anymore maintaining gofabric8. Closing this.

[2018-12-21 05:51] #30 closed, assigned to nobody

[2018-12-21 05:51] pradeepto commented on #9
Reopening it. @chmouel we need your input. Any updates on this? ;)

[2018-12-21 05:51] piyush-garg commented on #27
we have shut down GKE. closing this.

[2018-12-21 05:51] #27 closed, assigned to nobody

[2018-12-21 05:52] pradeepto commented on #55
Closing as obsolete.

[2018-12-21 05:52] #55 closed, assigned to nobody

[2018-12-21 05:52] piyush-garg commented on #26
we have shut down GKE. Closing this.

[2018-12-21 05:52] #26 closed, assigned to nobody

[2018-12-21 05:53] pradeepto commented on #43
Closing as obsolete.

[2018-12-21 05:53] #43 closed, assigned to nobody

[2018-12-21 05:53] piyush-garg commented on #17
we are not seeing this issue more now and also we have emoved content-repo. Closing this

[2018-12-21 05:53] #17 closed, assigned to rupalibehera

[2018-12-21 05:57] piyush-garg commented on #21
we are not needing this anymore.

[2018-12-21 05:57] #21 closed, assigned to nobody

[2018-12-21 05:59] piyush-garg commented on #15
GKE has been shut down. Closing this.

[2018-12-21 05:59] #15 closed, assigned to nobody

[2018-12-21 06:05] piyush-garg commented on #33
Closing this, as we moved to the new pipeline.

[2018-12-21 06:05] #33 closed, assigned to nobody

[2018-12-21 06:09] pradeepto commented on #24
Closing as obsolete. @sthaha will handle the related task.

[2018-12-21 06:09] #24 closed, assigned to nobody

[2018-12-21 08:07] chmouel commented on #9
It has been investigated we are keeping the result of that investigation to
ourselves 🤫

On Fri, Dec 21, 2018, 06:51 Pradeepto Bhattacharya <notifications@github.com
wrote:

[2018-12-22 02:56] #9 closed, assigned to nobody

[2019-01-04 06:38] nikhil-thomas commented on #57
Completed
Subsystems, Components, and Internals: https://learn.openshift.com/subsystems

[2019-01-04 06:41] nikhil-thomas commented on #57
Completed
Kubernetes for the Absolute Beginners - Hands-on: https://www.udemy.com/learn-kubernetes/

I could run a 3 node (ubuntu vms) kubernetes cluster and try out pods, replicasets, deployments, services.

[2019-01-04 07:21] hrishin opened #58 "Server-less Jenkins using Jenkinsfile runner"
POC using Jenkinsfile Runner to enable serverless Jenkins for build service.

- [ ] Jenkinsfile runner build - using custom Jenkins war package
   - Use a current set of plugins from plugin.txt and plugins (e.g. syn plugin, bayesian) directory
   - Jenkins configuration
       - script approval configurations
       - kubernetes slave configuration

- [ ] Run OSIO pipeline
- [ ] Pipeline progress

[2019-01-04 09:25] chmouel opened #59 "Architecture diagram for OSD and Build workflow"
Make a diagram of how OSD and build will work with the different scenarios.

- [ ] Github webhook action
- [ ] UI action
- [ ] CLI (oc start-build) action

[2019-01-04 09:31] chmouel opened #60 "Zenhub binding for openshiftio-issue"
So build team can automate their workflow.

We have a script here :

https://github.com/chmouel/github-issue-cli/blob/master/openshiftio-issue

automating our reporting,

let's add zenhub since we moved there,

[2019-01-04 09:32] chmouel commented on #60
This has been added here :

https://github.com/chmouel/github-issue-cli/blob/master/lib/zenhub.py

and integrated in openshfitio-issue

[2019-01-04 09:32] #60 closed, assigned to chmouel

[2019-01-08 08:11] chmouel commented on #59
Working in here: https://docs.google.com/document/d/1sXOMUmVz9FKDXzY0OwJRaWFhHpXzv8xXvDsJ0iJ4e7I/edit#heading=h.s6nyg4mri5cv

[2019-01-16 07:31] pradeepto commented on #57
@nikhil-thomas can you update this issue with the latest status? I believe you are on DO 280 right now?

[2019-01-16 09:01] nikhil-thomas commented on #57
Started
ROLE: DO180 Introduction to Containers, Kubernetes, and Red Hat OpenShift
Completed Lab1: on ROLE workstation
Currently working towards lab 2: image building using parent image, adding Security Context Constraints to service accounts etc.

[2019-01-16 14:52] chmouel commented on #58
The  start of my POC is here:

https://github.com/chmouel/openshift-jr

it's a bit of a dump of my experimentation and not cleanup  but it's able to run osio-pipeline from jenkinsfile-runner,

[2019-01-21 10:16] nikhil-thomas commented on #57
Started: 14th Jan
ROLE: DO288 Red Hat OpenShift Development
Completed Day1: course and labs

Day2 in progress:
current topics:
image streams,
granting access to a project to image streams from other projectrs
oc adm policy
OpenShift build service

[2019-01-23 14:39] chmouel opened #61 "Setup OpenShift 4.0"
Aws?
Libvirt?
VirtualBox?

[2019-01-24 11:40] nikhil-thomas commented on #57
completed image streams, image registries, build triggers/webhooks
Currently going through S2I image builds

[2019-01-28 10:50] nikhil-thomas commented on #57
Took DO288 Red Hat Certified  Specialist in OpenShift Application Development Exam today

[2019-01-29 05:31] piyush-garg commented on #57
Closing, as @nikhil-thomas has been moved to tasks.

[2019-01-29 05:31] #57 closed, assigned to nikhil-thomas